<% wrap_layout :blog do %>
  <article class="post">
		<h1><%= link_to current_article.title, current_article %></h1>
			<div class="post-meta">
			<%#span class="post-author"><a href="#">Patrick</a></span%>
				<time datetime="<%= current_article.date.strftime('%F') %>"><%= current_article.date.strftime('%b %e %Y') %></time>
				<span class="post-tags">Tags: <%= current_article.tags.collect{|tag| link_to tag, tag_path(tag) }.join(", ") %></span>
			</div>
   <%= yield %>
  </article>
<% end %>