<footer>
	<div class="row">
	  <div class="medium-6 columns">
		  <ul class="footer-nav">
		    <li><%= link_to("Home", "/") %></li>
		    <li><%= link_to "Link 1", "/#link1" %></li>
		    <li><%= link_to "Link 2", "/#link2"%></li>
		    <li><%= link_to "Link 3", "/#link3" %></li>
		    <li><%= link_to "Link 4", "/#link4" %></li>
		    <li><%= link_to "Blog", "/blog" %></li>
		    <li><%= link_to "Contact Us", "/#contact-us" %></li>
		  </ul>
	  </div>
	  <div class="medium-6 text-right medium-centered columns">
			<ul class="legal">
				<li><a class="tertiary" href="/terms">Terms &amp; Conditions</a></li>
				<li><a class="tertiary" href="/privacy">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 end columns">
			<p class="copyright">&copy;Copyright Site Name LLC.<br> All Rights Reserved.</p>
		</div>
	</div>
</footer>

<!--foundation grid-->
