<header class="row">
  <div class="medium-12 text-center columns">
    <div class="logo"><%= link_to image_tag("logo.png", alt: ""), "/" %></div>
    <p class="tagline">Tagline</p>
    <nav role="navigation" id="nav">
      <ul>
        <li><%= link_to("Home", "/") %></li>
        <li><%= link_to "Link 1", "/#link1" %></li>
        <li><%= link_to "Link 2", "/#link2"%></li>
        <li><%= link_to "Link 3", "/#link3" %></li>
        <li><%= link_to "Link 4", "/#link4" %></li>
        <li><%= link_to "Blog", "/blog" %></li>
        <li><%= link_to "Contact Us", "/#contact-us" %></li>
      </ul>
    </nav>
  </div>
</header>

<!-- for one page sites-->
